/* src/App.css */
.App {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #dfc7c7;
    padding: 30px;
    margin-top: 60px;

}

.App h1 {
    margin-top: -20px;
    padding: 30px;
    /* size:49px;  */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.candidate-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.candidate-card {
    background-color: #bc8a8a;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    width: 280px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.candidate-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.candidate-info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 15px;
}

.candidate-id {
    position: absolute;
    left: 2px;
    top: 20%;
    transform: translateY(-50%);
    background-color: #d4d1d2;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.candidate-id:hover {
    background-color: #5d1111;
    color: #ffffff;
}

.candidate-card img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ddd;
}

.candidate-card h3 {
    margin: 35px 0;
    font-size: 1.5em;
    color: #000000;
}

.candidate-card h4 {
    font-size: 20px;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -20px;
}